@import "~@fontsource/poppins/index.css";
.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.main {
  background-color: #e4e4e4;
  text-align: center;
  width: 768px;
  height: 2000px;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  text-align: center;
  background-color: #0D0745;
  font-size: 24px;
  font-family:"Poppins";
  color: white;
  height: 120px;
  width: 768px;
  padding-top: 30px;
}
.container-task{
  display: flex;
 justify-content: space-between;
 padding-top: 40px;
 padding-left: 60px;
 padding-right: 60px;
 padding-bottom: 30px;
  
}
.btn{
background-color: #3E36B0;
width: 176px;
height: 44px;
border-radius: 10px;
font-family: "Poppins";
font-size: 16px;
color: #ffffff;
}
.p{
  font-family: "Poppins";
  font-size: 16px;
}
.card-container{
  padding-bottom: 40px;
}
.card-task{
  width: 620px;
  height: 117px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container-card-task{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}