@import "~@fontsource/poppins/index.css";
.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main {
  text-align: center;
  background-color: #ffffff;
  width: 768px;
  height: 2000px;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  text-align: center;
  background-color: #0D0745;
  font-size: 24px;
  font-family:"Poppins";
  color: white;
  height: 120px;
  width: 768px;
  padding-top: 30px;
}
.container-task{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}